* :root {
    --primary-color: ;
}

*/ * {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;

}

header {
    background-color: #3D3D46;
    padding: 35px;
    position: sticky;
    top: 0;
    z-index: 4;
    /* box-shadow: ; */
}

header p {
    color: #fff;
    margin: 0;
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    max-width: 1440px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    position: relative;
}

.side-content {
    margin-top: 60px;
}

.search-box {
    position: relative;
}

.search-box>input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 10px #00000077;

}

.search-box>img {
    position: absolute;
    right: 15px;
    top: 4px;
}

.filter-section {
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-top: 65px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 10px #00000077;


}

.filter-section-heading {
    display: flex;
    background-color: #3D3D46;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 12px;
    justify-content: space-between;

}

.filter-section-heading>p {
    margin: 0;
    padding-top: 13px;
}

.filter-search {
    display: flex;
    margin-top: 10px;
    padding: 0 5px;
}

.filter-search input {
    padding: 10px;
    border-radius: 10px;
    /* border: none; */
    border: 1px solid #D7BE0A;
    width: 85%;
}

.filter-search button {
    border: none;
    border-radius: 10px;
    background-color: rgb(85, 85, 85);
    cursor: pointer;
}

.skill-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill-element {
    background-color: #f2f2f2;
    margin: 0 20px;
    padding: 20px;
    border: 3px solid #D7BE0A;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #00000010;
}

.skill-element:hover {
    background-color: #fff894;
}

.skill-element label {
    margin-left: 25px;
    color: #000;
}

.skill-element input[type="checkbox"] {
    width: 20px;
    height: 20px;

}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 90px;
    flex: 1;
    ;
}

.table-container>button {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.pagination-buttons {
    display: flex;
    gap: 65px;
    align-self: center;
    margin-top: 80px;
}

table {
    width: 100%;
    --border: 3px solid #D7BE0A;
    border-radius: 15px 15px 0 0;
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
    box-shadow: 1px 1px 10px #000000a3;

}

table th {
    background-color: #3D3D46;
    color: #fff;
}

table tr {
    background-color: #f2f2f2;
}

table td,
table th {
    text-align: center;
    vertical-align: center;
    height: 70px;
    /* padding-left: 4px; */
}

table td:not(:last-child) {
    text-align: left;
    padding-left: 5px;
}

table th:not(:last-child),
table td:not(:last-child) {
    border-right: var(--border);
}

table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) {
    border-bottom: var(--border);
}




/* table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 1px 1px 10px #00000085;

}

#first-heading {
    border-top-left-radius: 15px;
}

#last-heading {
    border-top-right-radius: 15px;
}

tr {
    background-color: #f2f2f2;
}

td,
th {
    border: 3px solid #D7BE0A;
    text-align: center;
    vertical-align: center;
    height: 70px;


}

th {
    background-color: #3D3D46;
    color: #fff;
} */

tr:hover {
    background-color: #f86969;
    /* background-color: #e84a4a; */
}


#action-button-cell button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 10px;
}

.pagination-buttons button {
    border: none;
    background-color: #E7E3D4;
    cursor: pointer;
}

.sort-button {
    cursor: pointer;
    margin-left: 5px;
}

.sort-button:hover {
    transform: scale(1.2);
}













/* add employee styling starts here */
.overlay {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: #00000074;
    backdrop-filter: blur(5px);

}

.data-entry-modal {
    position: absolute;
    max-width: 700px;
    top: 5%;
    /* margin: 0 auto; */
    left: 30%;

    display: none;
    height: auto;
    padding: 30px;
    z-index: 2;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #00000085;

}

.data-entry-modal>img {
    cursor: pointer;
    width: 13px;
    height: auto;
}


.data-entry-modal form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.data-entry-modal form label {
    display: block;
    padding-left: 10px
}

.data-entry-modal form input {
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #999;
    padding: 7px;
    /* border: none; */
}

.entry-form-row {
    display: flex;
    justify-content: space-between;
}

.form-entry {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-entry-modal form select {
    padding: 7px;
    border-radius: 10px;
    width: 200px;
    /* max-width: 70px; */
}


.form-location-profile {
    display: flex;
    gap: 20px;
}

#data-entry-submit {
    align-self: center;
    padding: 10px 30px;
    cursor: pointer;
}

#data-entry-submit:hover {
    background-color: grey;
}

.form-skill {
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
}

.added-skills {
    padding: 20px;
    background-color: #e84a4a;
    border-radius: 15px;
    width: 300px;
    min-height: 150px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.each-skill-added {
    padding: 10px 20px;
    background-color: yellow;
    border-radius: 5px;
    align-self: flex-start;
    cursor: pointer;
}

.each-skill-added:hover {
    background-color: #a18f0a;
}

.form-skill select {
    align-self: flex-start;
    margin-top: 50px;
}

.form-skill p {
    margin-left: 10px
}





.data-view-modal {
    position: fixed;
    /* position: absolute; */
    max-width: 800px;
    /* top: 30%;
    left: 30%; */
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: none;
    height: auto;
    padding: 30px;
    z-index: 2;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 1px 1px 10px #00000085;
}

.data-view-modal>figure {
    width: 150px;
    height: auto;
}

.data-view-modal>img {
    cursor: pointer;
    width: 13px;
    height: auto;
}


.data-view-content {
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
}

.left-view-content,
.right-content {
    display: flex;
    gap: 30px;

}

.view-skill-sec {
    display: flex;
    gap: 50px;
}

.view-skill-box {
    width: 300px;
    min-height: 150px;
    background-color: #e84a4a;
    border-radius: 15px;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    overflow: scroll;

}

.each-skill-view {
    padding: 10px 20px;
    background-color: yellow;
    border-radius: 5px;
    align-self: flex-start;
}


.data-del-modal {
    display: none;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    flex-direction: column;

    width: 500px;
    height: auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 15px;
    border: 1px solid #000;
    box-shadow: 1px 1px 10px #00000080;

}

.del-conf-msg {
    padding: 20px;
    background-color: #e84a4a;
    color: #fff;
    border-radius: 15px;
}

.del-conf-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.del-conf-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.confirm-button {
    background-color: #888888;
}

.confirm-button:hover {
    background-color: #666666;
    color: #fff;
}

.delete-button {
    background-color: #e84a4a;
    color: #fff;
}

.delete-button:hover {
    background-color: #aa3333;
}