/* :root{
    --primary-color:;
} */
* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;

}

header {
    background-color: #3D3D46;
    padding: 35px;
    position: sticky;
    top: 0;
    z-index: 1;
    /* box-shadow: ; */
}

header p {
    color: #fff;
    margin: 0;
}

.header-container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    max-width: 1440px;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.side-content {
    margin-top: 60px;
}

.search-box {
    position: relative;
}

.search-box>input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.search-box>img {
    position: absolute;
    right: 15px;
    top: 4px;
}

.filter-section {
    background-color: #A5A5A8;
    border-radius: 10px;
    margin-top: 65px;
    padding-bottom: 20px;

}

.filter-section-heading {
    display: flex;
    background-color: #3D3D46;
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 12px;
    justify-content: space-between;

}

.filter-section-heading>p {
    margin: 0;
    padding-top: 13px;
}

.filter-search {
    display: flex;
    margin-top: 10px;
    padding: 0 5px;
}

.filter-search input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 95%;
}

.filter-search button {
    border: none;
    border-radius: 10px;
    background-color: rgb(85, 85, 85);
    cursor: pointer;
}

.skill-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill-element {
    background-color: #D7BE0A;
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
}

.skill-element label {
    margin-left: 25px;
    color: #000;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 90px;
    flex: 1;
    ;
}

.table-container>button {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.pagination-buttons {
    display: flex;
    gap: 65px;
    align-self: center;
    margin-top: 80px;
}

table {
    width: 100%;
    border-collapse: collapse;

}

#first-heading {
    border-top-left-radius: 15px;
}

#last-heading {
    border-top-right-radius: 15px;
}

tr {
    background-color: #f2f2f2;
}

td,
th {
    border: 3px solid #D7BE0A;
    text-align: center;
    vertical-align: center;
    height: 70px;


}

th {
    background-color: #3D3D46;
    color: #fff;
}

tr:hover {
    background-color: #e84a4a;
}


#action-button-cell button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 10px;
}

.pagination-buttons button {
    border: none;
    background-color: #E7E3D4;
    cursor: pointer;
}

.sort-button {
    cursor: pointer;
    margin-left: 5px;
}


.data-entry-modal {
    max-width: 700px;
    display: none;
    height: auto;
    background-color: grey;
    padding: 20px;
}

.data-entry-modal form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.data-entry-modal form label {
    display: block;
}

.entry-form-row {
    display: flex;
    gap: 40px;
}

#data-entry-submit {
    align-self: center;
}